@import url('base.css');

#poke_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
	gap: 1rem;
}

.poke_container__pokemon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.poke_container__pokemon__body__name {
	font-size: 1.5rem;
	text-align: center;
	color: black;
}
.poke_container__pokemon__body {
	width: 100%;
}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
	font-size: 4rem;
}

h2,
h3,
h4 {
	font-size: 1.6rem;
}

#poke__radar__radar {
	color: white;
}

.dashboard__item {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.2rem;
	margin: 1rem;
	background-color: #252a34;
	border-width: 0.01rem;
	border-style: solid;
}

.poke__info__item {
	height: 5rem;
}

.poke__radar__image {
	width: 100%;
}

footer p {
	font-size: 1.2rem;
}
