@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
	--text-color-primary: #ffffff;
	--title-color-primary: #00a7e1;
	--background-image-color-primary: #007ea7;
	--background-color-primary: #00171f;
	--background-card-color-primary: #ffffff;
	--button-color-primary: #00a7e1;
}

* {
	font-family: 'JetBrains Mono', monospace;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--background-image-color-primary);
	border-radius: 1rem;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--background-color-primary);
	color: var(--text-color-primary);
}

section {
	margin: 4rem 5rem;
}

p {
	font-size: 1.2rem;
}

button {
	margin: auto;
	color: var(--text-color-primary);
	font-size: 1.3rem;
	background-color: var(--button-color-primary);
	border: 0;
	border-radius: 0.3rem;
	padding: 0.5rem;
}
a {
	text-decoration: none;
	color: white;
}

/* INICIOO ESTILOS SECCION HEADER */
.header__hamburguer,
.header__nav__exit {
	font-size: 3rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.header__nav {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 1;
	background-color: var(--button-color-primary);
	transform: translateX(-100%);
	transition: 0.4s ease-in;
}

.header__nav-active {
	transform: translateX(0%);
	transition: 0.4s ease-in;
}

.header__nav__list {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 1rem;
}

.header__nav__list__item {
	font-size: 2rem;
	padding: 1.5rem;
}

.header__nav__list__item a:hover {
	cursor: pointer;
	color: var(--background-color-primary);
}
/* FIN ESTILOS SECCION HEADER */

/* INICIO ESTILOS SECCION HOME */
#home {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
}

.home__information {
	display: flex;
	flex-direction: column;
	margin: auto;
}

.home__information__title {
	font-size: 2.8rem;
}

.home__information__title-name {
	background: linear-gradient(to right top, #003459, #064e7a, #0b6a9c, #0a88be, #00a7e1);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.home__information__subtitle {
	font-size: 1.3rem;
}

.home__information__list {
	padding: 0 0.1rem;
}

.home__information__list__item {
	font-size: 1.4rem;
}

.home__information__button {
	margin: auto;
	color: var(--text-color-primary);
	font-size: 1.3rem;
	background-color: var(--button-color-primary);
	border: 0;
	border-radius: 0.3rem;
	padding: 0.5rem;
}

.home__information__button:hover {
	transform: scale(1.04);
	transition: 0.3s ease-in-out;
	-webkit-box-shadow: 3px 5px 14px -3px rgba(255, 255, 255, 0.44);
	box-shadow: 3px 5px 14px -3px rgba(255, 255, 255, 0.44);
}

.home__figure {
	display: flex;
	justify-content: center;
	background-color: var(--background-image-color-primary);
	border-radius: 100%;
	width: 23rem;
	height: 23rem;
	margin: auto;
}

.home__figure__image {
	border-radius: 110px;
}
/* FIN ESTILOS SECCION HOME */

.multimedia {
	position: absolute;
	width: 25%;
	bottom: 0;
	right: 0;
	margin: 1rem;
	position: fixed;
	z-index: 2;
	background: rgba(0, 167, 225, 0.66);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 167, 225, 0.42);
}

.multimedia audio {
	display: none;
}

.multimedia__player__image-container {
	width: 50%;
	margin: auto;
	border-radius: 100%;
	animation: rotate 10s infinite paused ease-in-out;
}

.multimedia__player__image-container__image {
	width: 100%;
	border-radius: 100%;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.multimedia__control-container__controls {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
}

.fa-play,
.fa-pause {
	font-size: 2rem;
}

.multimedia__control-container__controls__pause {
	display: none;
}

/* INICIO ESTILOS SECCION ACERCA DE MI */
.about-me__paragraph {
	font-size: 1.2rem;
}

.about-me__tools {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(7rem, 100%), 1fr));
	grid-gap: 1rem;
	padding: 0;
}

.about-me__tools__item {
	display: flex;
	align-items: center;
}
.about-me__tools__item b {
	font-size: 1.1rem;
	margin: 0 0.5rem;
}
/* FIN ESTILOS SECCION ACERCA DE MI  */

/* INICIO ESTILOS SECCION SKILLS*/
.skills__console {
	height: 18rem;
	background-color: #3d4347;
	margin: auto;
	position: relative;
	border-radius: 1rem;
}

.skills__console__task {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	margin: 0;
	background-color: #000000;
	border-radius: 1rem 1rem 0 0;
}

.skills__console__task__buttons {
	display: flex;
}

.skills__console__task__buttons__circle {
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	margin: 0.5rem 0.5rem;
}

.skills__console__task__buttons__circle:nth-child(1) {
	background-color: #1dc618;
}
.skills__console__task__buttons__circle:nth-child(2) {
	background-color: #efe330;
}
.skills__console__task__buttons__circle:nth-child(3) {
	background-color: #ef3030;
}
.skills__console__information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2.4rem;
	height: 70%;
	width: 100%;
}

.skills__console__information__command {
	display: block;
	width: 100%;
}

.skills__console__information__command p {
	font-size: 0.9rem;
	color: var(--button-color-primary);
	margin-left: 0.3rem;
}

.skills__console__information__table {
	width: 80%;
}
.skills__console__information__table .checked {
	color: orange;
}

.skills__console__information__table .fa-star:before {
	margin: 1rem;
}

th,
td {
	border-style: dotted;
	padding: 0.1rem;
	font-size: 0.7rem;
}
/* FIN ESTILOS SECCION SKILLS */

/*INICION ESTILOS SECCION PROYECTOS*/
.projects {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	margin: auto;
}

.projects__indicator {
	display: flex;
	justify-content: center;
	padding: 0;
}
.projects__indicator__item {
	width: 0.6rem;
	height: 0.6rem;
	background-color: var(--background-card-color-primary);
	border-radius: 100%;
	margin: 0 0.5rem;
	opacity: 0.5;
}

.projects__list {
	display: flex;
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 1.2rem;
}

.projects__list__item {
	width: 100%;
	flex-shrink: 0;
	margin: auto;
	overflow: hidden;
}

.projects__list__item__image {
	width: 100%;
}

.projects__list__item__information {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projects__list__item__information * {
	margin: 0%;
	font-size: 1.3rem;
}

.projects__list__item__information__tecnologies {
	display: flex;
	color: var(--button-color-primary);
	margin: 0.5rem 0;
}

.projects__list__item__information__tecnologies h4 {
	margin: 0 0.5rem;
}

.projects__list__item__information__links a {
	margin: 0 0.5rem;
}

.projects__list__item__information__links a i {
	font-size: 2rem;
}
/*FIN ESTILOS SECCION PROYECTOS*/

/* INICIO ESTILOS SECCION CONTACTO*/
.contact__information {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.contact__information__figure__map {
	width: 90%;
	height: 20rem;
}

.contact__information__form {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: 2rem;
	gap: 1rem;
}

.contact__information__form * {
	padding: 0.5rem;
	border: none;
	border-radius: 0.2rem;
	font-size: 1rem;
}

.contact__information__form button {
	font-size: 1.3rem;
}
/* FIN ESTILOS SECCION CONTACTO*/

/* INICIO ESTILOS SECCION FOOTER*/
footer {
	background-color: var(--title-color-primary);
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 10rem;
}

.footer__contact__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
	padding: 0;
}

.footer__contact__list__item {
	font-size: 2rem;
	margin: 0.5rem 1rem;
}

footer p {
	text-align: center;
	font-size: 1rem;
}
/* FIN ESTILOS SECCION FOOTER*/

/*
VERSION ESCRITORIO
*/
@media screen and (min-width: 979px) {
	html,
	body {
		margin: 0;
		padding: 0;
		font-size: 18px;
	}

	section {
		margin: 5rem 7rem;
	}

	.header__hamburguer,
	.header__nav__exit {
		visibility: hidden;
		display: none;
	}

	.header__nav {
		position: relative;
		transform: translateX(0%);
		background-color: transparent;
	}

	.header__nav__list {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.header__nav__list__item {
		font-size: 1.2rem;
	}

	.header__nav__list__item a:hover {
		color: var(--button-color-primary);
	}

	.multimedia {
		width: 15%;
	}

	.about-me__tools__item {
		margin-left: 1rem;
	}

	.about-me__tools {
		margin: 0 2rem;
		grid-template-columns: repeat(auto-fill, minmax(min(15rem, 100%), 1fr));
		grid-gap: 2rem;
	}

	.about-me__tools__item b {
		font-size: 1.3rem;
		margin-left: 0.5rem;
	}

	.skills__console {
		width: 60%;
		height: 25rem;
		background-color: #3d4347;
		margin: auto;
		position: relative;
		border-radius: 1rem;
	}

	.skills__console__information__command p {
		font-size: 1rem;
	}

	th,
	td {
		border-style: dotted;
		padding: 0.1rem;
		font-size: 1rem;
	}

	.projects {
		width: 60%;
	}

	.contact__information {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.contact__information__form,
	.contact__information__figure__map {
		width: 45%;
		margin-top: 0;
	}
}
